/* seat.css */

.seat {
    width: 32px;
    height: 32px;
    margin: 5px;
    background-color: #ccc;
    border: 1px solid #999;
    cursor: pointer;
    display: inline-block;
}

.seat.selected {
    background-color: rgb(74, 209, 34);
}

.seat.booked {
    background-color: #c72121;
    cursor: not-allowed;
}
